@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url("chrome://browser/content/browser.xul") {

#urlbar-icons > #addon-bar > .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker,
#urlbar-icons > #addon-bar > .toolbarbutton-1 > .toolbarbutton-menu-dropmarker,
#urlbar-icons #mproxy-toolbar-button > .toolbarbutton-menu-dropmarker {
    display: none !important;
}

#urlbar-icons > * {
    padding: 0 3px !important;
}

#urlbar-icons > #addon-bar,
#urlbar-icons > #addon-bar > #status-bar {
    -moz-appearance: none !important;
    height: 18px !important;
    min-height: 18px !important;
    border-style: none !important;
    background: transparent !important;
    -moz-box-align: center !important;
    padding: 0 !important;
    margin: 0 !important;
}

#urlbar-icons > #addon-bar toolbarbutton,
#urlbar-icons > #addon-bar statusbarpanel {
    border-style: none !important;
    min-width: 18px !important;
    max-height: 22px !important;
    padding: 0 3px !important;
    margin: 0 !important;
    background: transparent !important;
    box-shadow: none !important;
}
#urlbar-icons > #addon-bar toolbarbutton:not([disabled="true"]):hover,
#urlbar-icons > #addon-bar toolbarbutton:not([disabled="true"])[open="true"],
#urlbar-icons > #addon-bar > #status-bar statusbarpanel:not([disabled="true"]):hover,
#urlbar-icons > #addon-bar > #status-bar statusbarpanel:not([disabled="true"])[open="true"] {
    background-image: -moz-linear-gradient(rgba(242, 245, 249, 0.95), rgba(220, 223, 225, 0.67) 49%, rgba(198, 204, 208, 0.65) 51%, rgba(194, 197, 201, 0.3)) !important;
}
#urlbar-icons > #addon-bar > #addonbar-closebutton:hover {
    background: transparent !important;
}

#urlbar-icons > #addon-bar #addonbar-closebutton,
#urlbar-icons > #addon-bar toolbarspring,
#urlbar-icons > #addon-bar toolbarspacer,
#urlbar-icons > #addon-bar toolbarseparator {
    display: none !important;
}

}
